    <div style="flex: 0; margin: auto;">
        <h2>Save playlist content</h2>
        <form id="playlistContentSaveAsForm">
            <div>
                <label>Select playlist</label>
                <div id="playlistContentSaveAsPlaylistBlock">
                    <div id="playlistContentSaveAsPlaylistCurrentBlock" style="display:none; flex-flow: row nowrap; align-items:center; margin-bottom: 0.5rem;">
                        <span class="playlistTag"><span id="playlistContentSaveAsPlaylistCurrentName"></span> <a id="playlistContentSaveAsPlaylistCurrentDelete" href="#" class="playlistLink"><i class="fa fa-times"></i></a></span>
                    </div>
                    <div id="playlistContentSaveAsPlaylistSearchBlock" style="display:block;">
                        <div style="display:flex; flex-flow: row nowrap; align-items:center;">
                            <i class="fa fa-search" style="position: relative; width: 0; left: 0.4rem; z-index: 1; color: gray;"></i><input id="playlistContentSaveAsPlaylistSearchInput" type="text" autocomplete="off" style="padding-left: 1.6rem; padding-right: 1.8rem;"><a id="playlistContentSaveAsPlaylistSearchClean" href="#" style="position: relative; width: 0; right: 1.5rem; z-index: 1; color: var(--bg-color-alt);"><i class="fa fa-broom"></i></a>
                        </div>
                        <div id="playlistContentSaveAsPlaylistSearchList" class="searchResultList" style="display:none;"></div>
                    </div>
                </div>
            </div>
            <div>
                <label></label>
                <div>
                    <button type="submit">Save</button>
                    <button id="playlistContentSaveAsCancelButton">Cancel</button>
                </div>
            </div>
        </form>
    </div>
