<div class="item currentSongItem" style="{{if .IsPlaying}}background-color: var(--bg-color-alt);{{end}}" draggable="true">
    <div class="itemTitle">
        <div>
            <span class="songLink">{{.SongName}}</span>
        </div>
        <div>
            {{$separator := ""}}
            {{if .AlbumId}}
                <a class="albumLink" href="#" data-albumid="{{.AlbumId}}">{{.AlbumName}}</a>
                {{$separator = " / "}}
            {{end}}
            {{range $index, $artist := .Artists}}
                {{$separator}}
                <a class="artistLink" href="#" data-artistid="{{.ArtistId}}">{{.ArtistName}}</a>
                {{$separator = " / "}}
            {{end}}
        </div>
    </div>
    <div class="itemButtons">
        <a class="currentRemoveSongFromPlaylistLink" href="#" title="Remove" data-songidx="{{.SongIdx}}">
            <i class="fas fa-times"></i>
        </a>
        <a class="currentPlaySongNowLink" href="#" title="Play" data-songid="{{.SongId}}" data-songidx="{{.SongIdx}}" >
            <i class="fas fa-play" ></i>
        </a>
    </div>
</div>
