<div class="item albumItem" draggable="true">
    <div class="itemTitle">
        <a class="albumLink" href="#" data-albumid="{{.AlbumId}}">{{.AlbumName}}</a>
        <div>
            {{range $index, $artist := .Artists}}
                {{if ne $index 0 }} / {{end}}
                <a class="artistLink" href="#" data-artistid="{{.ArtistId}}">{{.ArtistName}}</a>
            {{end}}
        </div>
    </div>
    <div class="itemButtons">
        {{if .IsEditable}}
        <a class="albumEditLink" href="#" data-albumid="{{.AlbumId}}">
            <i class="fas fa-edit"></i>
        </a>
        {{end}}
        <a class="albumAddToPlaylistLink" href="#" data-albumid="{{.AlbumId}}">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>
