<div class="item artistItem" draggable="true">
    <div class="itemTitle">
        <a class="artistLink" href="#" data-artistid="{{.ArtistId}}">{{.ArtistName}}</a>
        <div></div>
    </div>
    <div class="itemButtons">
        {{if .IsAdmin}}
        <a class="artistEditLink" href="#" data-artistid="{{.ArtistId}}">
            <i class="fas fa-edit"></i>
        </a>
        {{end}}
        <a class="artistAddToPlaylistLink" href="#" data-artistid="{{.ArtistId}}">
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>
</div>
