<header class="header">
    <div style="margin: 0 0.3rem 0 0.3rem;font-weight: bold;"><img src="/static/image/logo32.png" style="vertical-align:middle;margin: 0.1rem 0.6rem 0.1rem 0;width:32px;"><span style="">Mifasol</span></div>
    <div style="margin: 0 0.3rem 0.3rem 0;">
        <button id="refreshButton" style="margin: 0.3rem 0 0 0.3rem;" type="button" ><i class="fas fa-sync-alt"></i></button><button id="logOutButton" style="margin: 0.3rem 0 0 0.3rem;" type="button" ><i class="fas fa-sign-out-alt"></i></button>
    </div>
</header>
<main style="display: flex; flex-flow: column nowrap; margin: 0 1rem 0 1rem; flex: 1 1 auto; min-height: 0;">
    <div style="display: flex; flex-flow: row nowrap; flex: 1 1 auto; min-height: 0; margin: -1rem 0 0 -1rem;">
        <div id="libraryComponent" style="display: flex; flex-flow: column nowrap; flex: 1; min-height: 0; margin: 1rem 0 0 1rem;">
            <h2 id="libraryTitle" style="margin:0.5rem 0 0.5rem 0;"></h2>
            <div id="libraryButtons" style="display: flex; flex-flow: row wrap; gap: 0.5rem;">
                <button id="libraryArtistsButton" type="button" title="Artists"><i class="fas fa-microphone-alt"></i></button>
                <button id="libraryAlbumsButton" type="button" title="Albums"><i class="fas fa-compact-disc"></i></button>
                <button id="librarySongsButton" type="button" title="Songs"><i class="fas fa-music"></i></button>
                <button id="libraryPlaylistsButton" type="button" title="Playlists"><i class="fas fa-list-alt"></i></button>
                <button id="libraryUsersButton" type="button" title="Users"><i class="fas fa-user"></i></button>
                <div style="flex:1;"></div>
                <div>
                    <input type="checkbox" id="libraryFavoritesSwitch"><label for="libraryFavoritesSwitch"></label> Favorites
                </div>
            </div>
            <div id="libraryList" style="display: flex; flex-flow: column nowrap; flex: 1 1 auto; overflow-y: scroll;"></div>
        </div>
        <div id="currentComponent" style="display: flex; flex-flow: column nowrap; flex: 1; min-height: 0; margin: 1rem 0 0 1rem;">
            <h2 id="currentTitle"  style="margin:0.5rem 0 0.5rem 0;">Playlist</h2>
            <div id="currentButtons" style="display: flex; flex-flow: row wrap; gap: 0.5rem;">
                <button id="currentCleanButton" type="button" title="Clean"><i class="fas fa-broom"></i></button>
                <button id="currentShuffleButton" type="button" title="Shuffle"><i class="fas fa-random"></i></button>
            </div>
            <div id="currentList" style="display: flex; flex-flow: column nowrap; flex: 1 1 auto; overflow-y: scroll;"></div>
        </div>
    </div>
</main>
<footer style="display: flex; flex-flow: row wrap; justify-content: space-between;">
    <p style="flex: 4; margin: 1rem;" id="message">...</p>
    <audio style="flex: 5;" id="player" controls ></audio>
</footer>
