<header class="homeHeader">
    <img src="/static/image/logo64.png" style="width:2rem; filter: drop-shadow(0.08rem 0.08rem 0.1rem #222);">
    <div style="font-weight: bold; flex:1;">Mifasol</div>
    <div style="display:flex; gap: 0.3rem; flex-flow: row nowrap;">
        <button id="libraryUploadSongsButton" class="light" title="Upload new songs" type="button" disabled><i class="fas fa-file-upload"></i></button>
        <button id="refreshButton" class="light" title="Sync" type="button" ><i class="fas fa-sync-alt"></i></button>
        <button id="logOutButton" class="light" title="Log out" type="button" ><i class="fas fa-sign-out-alt"></i></button>
    </div>
</header>
<main style="display: flex; flex-flow: column nowrap; margin: 0.3rem 0.5rem 0.3rem 0.5rem; flex: 1 1 auto; min-height: 0;">
    <div style="display: flex; flex-flow: row nowrap; flex: 1 1 auto; min-height: 0; gap: 1rem;">
        <div id="libraryComponent" style="display: flex; flex-flow: column nowrap; flex: 1; min-height: 0; gap: 0.3rem;">
            <h2 id="libraryTitle" style="margin: 0;">...</h2>
            <div id="libraryButtons" style="display: flex; flex-flow: row wrap; gap: 0.3rem; align-items: center;">
                <button id="libraryArtistsButton" type="button" title="Artists"><i class="fas fa-microphone-alt"></i></button>
                <button id="libraryAlbumsButton" type="button" title="Albums"><i class="fas fa-compact-disc"></i></button>
                <button id="librarySongsButton" type="button" title="Songs"><i class="fas fa-music"></i></button>
                <button id="libraryPlaylistsButton" type="button" title="Playlists"><i class="fas fa-list-alt"></i></button>
                <button id="libraryUsersButton" type="button" title="Users"><i class="fas fa-user"></i></button>
                <div style="flex:1;">
                    <input type="text" id="librarySearchInput" style="width: 100%; min-width:4rem;">
                </div>
                <button id="libraryOnlyFavoritesButton" type="button" title="Only favorites on/off"><i class="fas fa-star"></i></button>
                <button id="libraryAddToPlaylistButton" type="button" title="Add songs to playlist" disabled><i class="fas fa-plus"></i></button>
            </div>
            <div id="libraryList" style="display: flex; flex-flow: column nowrap; flex: 1 1 auto; overflow-y: scroll;"></div>
        </div>
        <div id="currentComponent" style="display: flex; flex-flow: column nowrap; flex: 1; min-height: 0; gap: 0.3rem;">
            <h2 id="currentTitle" style="margin: 0;">Playlist</h2>
            <div id="currentButtons" style="display: flex; flex-flow: row wrap; gap: 0.3rem; align-items: center;">
                <button id="currentCleanButton" type="button" title="Clean"><i class="fas fa-broom"></i></button>
                <button id="currentShuffleButton" type="button" title="Shuffle"><i class="fas fa-random"></i></button>
                <button id="currentSaveButton" type="button" title="Save"><i class="fas fa-file"></i></button>
                <button id="currentSaveAsButton" type="button" title="Save as" disabled><i class="fas fa-file-signature"></i></button>
            </div>
            <div id="currentList" style="display: flex; flex-flow: column nowrap; flex: 1 1 auto; overflow-y: scroll;"></div>
        </div>
    </div>
</main>
<footer class="homeFooter">
    <div style="flex: 1 0 320px;" id="message">...</div>
    <div style="flex: 1 0 320px; display:flex; flex-flow: row nowrap; gap: 0.3rem; align-items:center;">
        <audio id="playerAudio" ></audio>
        <button id="playerPlayButton" type="button" title="Play/Pause"><i class="fas fa-play"></i></button>
        <button id="playerNextButton" type="button" title="Next song"><i class="fas fa-step-forward"></i></button>
        <input style="flex:4;width: 3rem;padding:0;" type="range" id="playerSeekSlider" max="100" value="0">
        <div class="duration">
            <span id="playerCurrentTime">0:00</span> / <span id="playerDuration">0:00</span>
        </div>
        <button id="playerMuteButton" type="button" title="Mute/Unmute"><i class="fas fa-volume-off"></i></button>
        <input style="flex:1;width: 3rem;padding:0;" type="range" id="playerVolumeSlider" max="1" value="1" step="any">
    </div>
</footer>
