<div class="item playlistItem" draggable="true">
    <div class="itemFavorite"><a class="playlistFavoriteLink" href="#" data-playlistid="{{.PlaylistId}}">
        {{if .Favorite}}
            <i class="fas fa-star"></i>
        {{else}}
            <i class="fas fa-star" style="color: #444;"></i>
        {{end}}
    </a></div>
    <div class="itemTitle">
        <a class="playlistLink" href="#" data-playlistid="{{.PlaylistId}}">{{.Name}}</a>
        <div>
            {{range $index, $user := .OwnerUsers}}
            {{if ne $index 0 }} / {{end}}
            <span class="userLink" >{{.UserName}}</span>
            {{end}}
        </div>
    </div>
    <div class="itemButtons">
        {{if .IsEditable}}
        <a class="playlistEditLink" href="#" data-playlistid="{{.PlaylistId}}">
            <i class="fas fa-edit"></i>
        </a>
        {{end}}
        <a class="playlistAddToPlaylistLink" href="#" data-playlistid="{{.PlaylistId}}">
            <i class="fas fa-arrow-right"></i>
        </a>
        <a class="playlistLoadToPlaylistLink" href="#" data-playlistid="{{.PlaylistId}}">
            <i class="fas fa-arrow-alt-circle-right"></i>
        </a>
    </div>
</div>
