<div class="item songItem" draggable="true">
    <div class="itemFavorite"><a class="songFavoriteLink" href="#" data-songid="{{.SongId}}">
        {{if .Favorite}}
        <i class="fas fa-star"></i>
        {{else}}
        <i class="fas fa-star" style="color: #444;"></i>
        {{end}}
    </a></div>
    <div class="itemTitle">
        <p class="songLink">{{.SongName}}</p>
        <div>
            {{$separator := ""}}
            {{if .AlbumId}}
                <a class="albumLink" href="#" data-albumid="{{.AlbumId}}">{{.AlbumName}}</a>
                {{$separator = " / "}}
            {{end}}
            {{range $index, $artist := .Artists}}
                {{$separator}}
                <a class="artistLink" href="#" data-artistid="{{.ArtistId}}">{{.ArtistName}}</a>
                {{$separator = " / "}}
            {{end}}
        </div>
    </div>
    <div class="itemButtons">
        {{if .IsAdmin}}
        <a class="songEditLink" href="#" data-songid="{{.SongId}}">
            <i class="fas fa-edit"></i>
        </a>
        {{end}}
        <a class="songDownloadLink" href="#" data-songid="{{.SongId}}">
            <i class="fas fa-file-download"></i>
        </a>
        <a class="songAddToPlaylistLink" href="#" data-songid="{{.SongId}}">
            <i class="fas fa-plus"></i>
        </a>
        <a class="songPlayNowLink" href="#" data-songid="{{.SongId}}">
            <i class="fas fa-play"></i>
        </a>
    </div>
</div>
