<main style="display: flex; flex-flow: column nowrap; flex-grow: 1; background-color: #07586a;">
    <div style="flex: 1; display: flex; align-items: center; justify-content: center; background-color: #111; box-shadow: 0 0 1rem 0.2rem #111; ">
        <h1 style="margin: 2rem;"><img src="/static/image/logo64.png" style="vertical-align:middle;"> Mifasol</h1>
    </div>
    <div style="flex: 2; display: flex; flex-flow: row wrap; align-content: flex-start; justify-content: center; padding-top: 2rem;">
        <div style="margin: 0 2rem 2rem 2rem; flex: 0 1 22rem;">
            <h2>Connect to web client (alpha!)</h2>
            <form onsubmit="logInAction();return false;">
                <div>
                    <label for="mifasolUsername">Username</label>
                    <div>
                        <input id="mifasolUsername" type="text">
                    </div>
                </div>
                <div>
                    <label for="mifasolPassword">Password</label>
                    <div>
                        <input id="mifasolPassword" type="password">
                    </div>
                </div>
                <div>
                    <label></label>
                    <div><input id="rememberMe" value="true" type="checkbox" checked><label for="rememberMe"></label>
                        Remember me
                    </div>
                </div>
                <p id="message"></p>
                <div>
                    <label></label>
                    <div>
                        <button type="submit">Log in</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="margin: 0 2rem 2rem 2rem; flex: 0 1 22rem;">
            <h2>Download console client</h2>
            <p><a href="/clients/mifasolcli-windows-amd64.exe"><i class="fab fa-windows" style="font-size: 2rem;"></i>
                mifasolcli (windows amd64)</a></p>
            <p><a href="/clients/mifasolcli-linux-amd64"><i class="fab fa-linux" style="font-size: 2rem;"></i>
                mifasolcli (linux amd64)</a></p>
            <p><a href="/clients/mifasolcli-linux-arm"><i class="fab fa-linux" style="font-size: 2rem;"></i> mifasolcli
                (linux arm)</a></p>
        </div>
    </div>
</main>
