    <div style="flex: 0 1 22rem;">
        <h2>Edit artist</h2>
        <form id="artistEditForm">
            <div>
                <label for="artistEditArtistName">Name</label>
                <div>
                    <input id="artistEditArtistName" type="text" value="{{.Name}}">
                </div>
            </div>
            <div>
                <label></label>
                <div>
                    <button class="light" type="submit">Save</button>
                    <button id="artistEditCancelButton" class="light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
