<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{.}}</title>

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="/static/css/solid.min.css"/>
    <link rel="stylesheet" href="/static/css/regular.min.css"/>
    <link rel="stylesheet" href="/static/css/brands.min.css"/>
    <link href="/static/image/logo32.png" rel="shortcut icon" type="image/png">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#48899c"/>
    <link rel="manifest" href="/static/manifest.json">
    <script src="/static/js/mifasol.js"></script>
    <script src="/static/js/wasm_exec.js"></script>
    <script>
        // register ServiceWorker
        /*
        window.onload = () => {
            'use strict';

            if ('serviceWorker' in navigator) {
                navigator.serviceWorker
                    .register('/sw.js');
            }
        }
        */
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("/clients/mifasolcliwa.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
</head>
<body class="loading">
<div id="mainComponent" style="flex: 1 1 auto; min-height: 0; display: flex; flex-flow: column nowrap;">
</div>
<div class="modalLoader" style="flex: 1 1 auto; flex-flow: column nowrap; justify-content: center; align-items:center;">
    <div style="margin: 1rem; text-align: center;">
        <span id="modalLoaderMessage">Loading</span><br>
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
</body>
</html>
