<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link href="/static/image/logo32.png" rel="shortcut icon" type="image/png">
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#000000"/>
    <script src="/static/js/mifasol.js"></script>
    <script src="/static/js/wasm_exec.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("/clients/mifasolcliwa.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
</head>
<body>
<main style="flex: 1 1 auto; min-height: 0; display: flex; flex-flow: column nowrap; justify-content: center; align-items:center;">
    <div style="flex: 1 1 auto; overflow-y: auto;"></div>
    <div style="margin: 2rem; text-align: center;">
        Loading<br>
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div style="flex: 1 1 auto; overflow-y: auto;"></div>
</main>
</body>
</html>
