{{if not .}}
<div style="padding: 0.4rem;">...</div>
{{else}}
{{range $index, $album := .}}
<div style="padding: 0.4rem;">
    <a class="albumLink" href="#" data-albumid="{{.AlbumId}}">{{.AlbumName}}</a> <span class="songCount">{{.AlbumSongCount}}</span>
    <div style="margin-top: 0.2rem; margin-left: 1rem; font-size: 0.8rem;">
        {{range $index, $artist := .Artists}}
        {{if ne $index 0 }} / {{end}}
        <span class="artistLink" >{{.ArtistName}}</span>
        {{end}}
    </div>
</div>
{{end}}
{{end}}
