    <div style="flex: 0 1 22rem;">
        <h2>Edit song</h2>
        <form id="songEditForm">
            <div>
                <label for="songEditSongName">Name</label>
                <div>
                    <input id="songEditSongName" type="text" value="{{.SongMeta.Name}}">
                </div>
            </div>
            <div>
                <label for="songEditPublicationYear">Publication year</label>
                <div>
                    <input id="songEditPublicationYear" type="text" value="{{if .SongMeta.PublicationYear}}{{.SongMeta.PublicationYear}}{{end}}">
                </div>
            </div>
            <div>
                <label for="songEditTrackNumber">Track number</label>
                <div>
                    <input id="songEditTrackNumber" type="text" value="{{if .SongMeta.TrackNumber}}{{.SongMeta.TrackNumber}}{{end}}">
                </div>
            </div>
            <div>
                <label for="songEditAlbumSearchInput">Album</label>
                <div id="songEditAlbumBlock">
                    <input id="songEditAlbumSearchInput" type="text" value="{{.AlbumName}}" disabled>
                    <div id="songEditAlbumList">
                        <div style="display:none;">
                            {{range $index, $album := .Albums}}
                                {{if . }}
                                    <div><a class="albumLink" href="#" data-albumid="{{.Id}}">{{.Name}}</a></div>
                                {{else}}
                                    <div><a class="albumLink" href="#" data-albumid="">(Unknown Album)</a></div>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <label></label>
                <div>
                    <input id="songEditExplicitFg" value="true" type="checkbox" {{if .SongMeta.ExplicitFg}}checked{{end}}><label for="songEditExplicitFg"></label>
                    Explicit
                </div>
            </div>
            <div>
                <label></label>
                <div>
                    <button class="light" type="submit">Save</button>
                    <button id="songEditCancelButton" class="light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
