<div style="flex: 0; margin: auto;">
    <h2>Edit song</h2>
    <form id="songEditForm">
        <div>
            <label for="songEditSongName">Name</label>
            <div>
                <input id="songEditSongName" type="text" value="{{.SongMeta.Name}}">
            </div>
        </div>
        <div>
            <label for="songEditPublicationYear">Publication year</label>
            <div>
                <input id="songEditPublicationYear" type="text" value="{{if .SongMeta.PublicationYear}}{{.SongMeta.PublicationYear}}{{end}}">
            </div>
        </div>
        <div>
            <label for="songEditTrackNumber">Track number</label>
            <div>
                <input id="songEditTrackNumber" type="text" value="{{if .SongMeta.TrackNumber}}{{.SongMeta.TrackNumber}}{{end}}">
            </div>
        </div>
        <div>
            <label>Album</label>
            <div id="songEditAlbumBlock">
                <div id="songEditAlbumCurrentBlock" style="display:{{if not .AlbumName}}none{{else}}flex{{end}}; flex-flow: row nowrap; align-items:center;">
                    <span class="albumTag"><span id="songEditAlbumCurrentName">{{.AlbumName}}</span> <a id="songEditAlbumCurrentDelete" href="#" class="albumLink"><i class="fa fa-times"></i></a></span>
                </div>
                <div id="songEditAlbumSearchBlock" style="display:{{if not .AlbumName}}block{{else}}none{{end}};">
                    <div style="display:flex; flex-flow: row nowrap; align-items:center;">
                        <i class="fa fa-search" style="position: relative; width: 0; left: 0.4rem; z-index: 1; color: gray;"></i><input id="songEditAlbumSearchInput" type="text" autocomplete="off" style="padding-left: 1.6rem; padding-right: 1.8rem;"><a id="songEditAlbumSearchClean" href="#" style="position: relative; width: 0; right: 1.5rem; z-index: 1; color: var(--bg-color-alt);"><i class="fa fa-broom"></i></a>
                    </div>
                    <div id="songEditAlbumSearchList" class="searchResultList" style="display:none;"></div>
                </div>
            </div>
        </div>
        <div>
            <label>Artists</label>
            <div id="songEditArtistBlock">
                <div id="songEditArtistCurrentList"></div>
                <div id="songEditArtistSearchBlock" style="display:block;">
                    <div style="display:flex; flex-flow: row nowrap; align-items:center;">
                        <i class="fa fa-search" style="position: relative; width: 0; left: 0.4rem; z-index: 1; color: gray;"></i><input id="songEditArtistSearchInput" type="text" autocomplete="off" style="padding-left: 1.6rem; padding-right: 1.8rem;"><a id="songEditArtistSearchClean" href="#" style="position: relative; width: 0; right: 1.5rem; z-index: 1; color: var(--bg-color-alt);"><i class="fa fa-broom"></i></a>
                    </div>
                    <div id="songEditArtistSearchList" class="searchResultList" style="display:none;"></div>
                </div>
            </div>
        </div>
        <div>
            <label></label>
            <div>
                <input id="songEditExplicitFg" value="true" type="checkbox" {{if .SongMeta.ExplicitFg}}checked{{end}}><label for="songEditExplicitFg"></label>
                Explicit
            </div>
        </div>
        <div>
            <label></label>
            <div>
                <button type="submit">Save</button>
                <button type="button" id="songEditCancelButton" >Cancel</button>
            </div>
        </div>
    </form>
</div>
