<header class="homeHeader">
    <img src="/static/image/logo64.png" style="width:2rem; filter: drop-shadow(0.08rem 0.08rem 0.1rem #222);">
    <div style="font-weight: bold; flex:1;">Mifasol</div>
    <div id="homeHeaderButtonsComponent" style="display:flex; gap: 0.3rem; flex-flow: row nowrap;">
    </div>
</header>
<main style="display: flex; flex-flow: column nowrap; margin: 0.3rem 0.5rem 0.3rem 0.5rem; flex: 1 1 4rem; min-height: 0;">
    <div id="homeMainMaster" style="display: flex; flex-flow: row nowrap; flex: 1 1 auto; min-height: 0; gap: 1rem;">
        <div id="libraryComponent" style="display: flex; flex-flow: column nowrap; flex: 1; min-height: 0; gap: 0.3rem;"></div>
        <div id="currentComponent" style="display: flex; flex-flow: column nowrap; flex: 1; min-height: 0; gap: 0.3rem;"></div>
    </div>
    <div id="homeMainModal" style="display: none; flex-flow: column nowrap; flex: 1 0 4rem; gap: 1rem; overflow-y: auto; align-items: center;"></div>
</main>
<footer class="homeFooter">
    <div style="flex: 1 0 320px;" id="message">...</div>
    <div style="flex: 1 0 320px; display:flex; flex-flow: row nowrap; gap: 0.3rem; align-items:center;">
        <audio id="playerAudio" ></audio>
        <div class="buttonGroup">
            <button id="playerPlayButton" type="button" title="Play/Pause"><i class="fas fa-play"></i></button>
            <button id="playerNextButton" type="button" title="Next song"><i class="fas fa-step-forward"></i></button>
        </div>
        <input style="flex:4;width: 3rem;padding:0;" type="range" id="playerSeekSlider" max="100" value="0">
        <div class="duration">
            <span id="playerCurrentTime">0:00</span> / <span id="playerDuration">0:00</span>
        </div>
        <button id="playerMuteButton" type="button" title="Mute/Unmute"><i class="fas fa-volume-off"></i></button>
        <input style="flex:1;width: 3rem;padding:0;" type="range" id="playerVolumeSlider" max="1" value="1" step="any">
    </div>
</footer>
