@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../font/Inter-Light.woff2?v=3.12') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../font/Inter-Medium.woff2?v=3.12') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../font/Inter-ExtraBold.woff2?v=3.12') format('woff2');
}

*, ::before, ::after {
    box-sizing: border-box;
}

/* Scrollbar */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #48899c #222222;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #222222;
}

*::-webkit-scrollbar-thumb {
    background-color: #48899c;
    border-radius: 5px;
    border: 1px solid #222222;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    color: #eee;
    background-color: #111;
}

h1, h2, h3 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #ccc;
}
a:hover {
    color: #f0f0f0;
}

li {
    margin: 0 0 0.2rem 0;
}

/* form */
select,
textarea,
input {
    display: inline-block;
    color: #555555;
    border-radius: 0.5rem;
    padding: 0.4rem 0.4rem;
    vertical-align: middle;
    width: 20rem;
}

textarea {
    height: auto;
}

textarea,
input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus,
input:focus {
    border-color: rgba(225, 225, 225, 0.8);
    outline: 0;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(225, 225, 225, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0.3em 0 0;
    line-height: normal;
    cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

select {
    border: 1px solid #cccccc;
    background-color: #ffffff;
}
select[multiple],
select[size] {
    height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}

::placeholder {
    color: #999999;
}

form > div {
    display:flex;
    flex-flow: row wrap;
}

form > div > label {
    flex: 0 0 14rem;
    margin: 0 1rem 1rem 0;
    font-weight: 500;
}

form > div > div {
    flex: 2 2 18rem;
    margin: 0 0rem 1.2rem 0;
}

form > div > div > select,
form > div > div > textarea,
form > div > div > input {
    width: 100%;
}

/* Loader */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 76px;
    height: 36px;
}

.lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.header {
    background-color: #48899c;
    color: #eeeeee;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.artistItem, .playlistItem, .albumItem {
    display: flex;
    flex-flow: column nowrap;
    padding: 0.2rem 0 0.2rem 0;
}

.artistItem > a, .albumItem > a, .playlistItem > a {
    margin: 0;
    padding: 0.26rem 0.26rem 0.26rem 0;
    display: block;
}

.artistItem > div, .albumItem > div, .playlistItem > div {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.songItem {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0.2rem 0 0.2rem 0;
}

.songItem > div:nth-child(1) {
    flex: 0;
    margin-right:0.7rem;
}

.songItem > div:nth-child(2) {
    display: flex;
    flex-flow: column nowrap;
}

.songItem > div:nth-child(2) > :first-child {
    margin: 0;
    padding: 0.26rem 0.26rem 0.26rem 0;
    display: block;
}

.songItem > div:nth-child(2) > :nth-child(2) {
    margin-left: 1rem;
    font-size: 0.8rem;
}

.albumItem:hover, .artistItem:hover, .songItem:hover, .playlistItem:hover {
    background-color: #602020;
}

a.albumLink {
    color: #5ADFDF;
}

a.artistLink {
    color: #A0A9CC;
}

a.songLink {
    color: #FFFFE5;
}

a.playlistLink {
    color: #FFB500;
}

a.userLink {
    color: #FFFACD;
}