@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../font/Inter-Light.woff2?v=3.12') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../font/Inter-Medium.woff2?v=3.12') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../font/Inter-ExtraBold.woff2?v=3.12') format('woff2');
}

:root{
    --main-color: #48899c;
    --bg-color: #111;
    --bg-color-alt: #222222;
    --fg-color: #bababa;
    --fg-color-alt: #f0f0f0;
    --input-color: #222222;
    --input-placeholder-color: #858585;
    --button-alt-color: #cccccc;
    --hover-color: #602020;
    --superhover-color: #802121;
    --artist-color: #A0A9CC;
    --album-color: #5ADFDF;
    --song-color: #FFFFE5;
    --song-tag-color: #8F8F88;
    --playlist-color: #FFB500;
    --user-color: #FFFACD;
}

*, ::before, ::after {
    box-sizing: border-box;
}

/* Scrollbar */
/* Works on Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--main-color) var(--bg-color-alt);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.6rem;
}

*::-webkit-scrollbar-track {
    background: #222222;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 0.25rem;
    border: 1px solid var(--bg-color-alt);
}

html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 100%;
    overflow-wrap: anywhere;
    overscroll-behavior-y: contain;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    color: var(--fg-color);
    background-color:  var(--bg-color);
}

h1, h2, h3 {
    font-weight: 500;
    color: var(--fg-color-alt);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: var(--button-alt-color);
}

a:hover {
    color: var(--fg-color-alt);
}

li {
    margin: 0 0 0.2rem 0;
}

button {
    background-color: transparent;
    color: var(--main-color);
    border: 0.1rem solid var(--main-color);
    border-radius: 0.3rem;
    padding: 0.4rem 0.4rem;
    min-width: 2.2rem;
}

button:hover {
    color: var(--fg-color-alt);
    border-color: var(--fg-color-alt);
}

button:disabled {
    color: #333;
    border-color: #333;
}

button.light:not(:hover) {
    color: var(--button-alt-color);
    border-color: var(--button-alt-color);
}

/* form */
select,
textarea,
input {
    display: inline-block;
    color: var(--input-color);
    border-radius: 0.3rem;
    padding: 0.4rem;
    vertical-align: middle;
    width: 20rem;
}

textarea {
    height: auto;
}

textarea,
input {
    background-color: var(--fg-color-alt);
    border-width: 0px;
    transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus,
input:focus {
    outline: 0;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(225, 225, 225, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0.3em 0 0;
    line-height: normal;
    cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}

select[multiple],
select[size] {
    height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted var(--bg-color-alt);
    outline-offset: -2px;
}

::placeholder {
    color: var(--input-placeholder-color);
}

form > div {
    display: flex;
    flex-flow: row wrap;
}

form > div > label {
    flex: 0 0 14rem;
    margin: 0 1rem 1rem 0;
    font-weight: 500;
}

form > div > div {
    flex: 2 2 18rem;
    margin: 0 0rem 1.2rem 0;
}
/*
form > div > div > select,
form > div > div > textarea,
form > div > div > input {
    width: 100%;
}*/

/* Switch */

input[type="checkbox"] {
    opacity: 0;
    display:none;
}

input[type="checkbox"] + label {
    width: 2.6rem;
    height: 1.4rem;
    display: inline-block;
    background-color: var(--fg-color-alt);
    border-radius: 0.3rem;
    position: relative;
    cursor: pointer;
    transition: 0.1s;
    vertical-align: middle;
    margin-right: 0.5rem;
}

input[type="checkbox"]:focus + label {
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075), 0 0 8px rgba(225, 225, 225, 0.6);
}

input[type="checkbox"] + label:after {
    content: "";
    width: 1rem;
    height: 0.8rem;
    background-color: #ccc;
    position: absolute;
    border-radius: 0.3rem;
    top: 0.3rem;
    left: 0.3rem;
    transition: 0.1s;
}

input[type="checkbox"]:checked + label:after {
    left: calc(100% - 0.3rem);
    transform: translateX(-100%);
    background-color: var(--main-color);
}

/* Loader */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 76px;
    height: 36px;
}

.lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--fg-color-alt);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.modalLoader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .8 );
}

body.loading .modalLoader {
    display: flex;
}

.homeHeader {
    background-color: var(--main-color);
    color: #eeeeee;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.5rem;
    gap: 0.8rem;
}

.homeFooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0.3rem;
    padding: 0.3rem;
    background-color: var(--bg-color-alt);
    align-items: center;
}

.item {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.item:hover {
    background-color: var(--hover-color);
}

.itemFavorite {

}

.itemFavorite {
    flex: 0;
    display: flex;
    flex-flow: row nowrap;
}

.itemFavorite > * {
    display: flex;
    padding: 0.3rem;
    align-items: center;
}

.itemFavorite > *:hover {
    background-color: var(--superhover-color);
}

.itemTitle {
    flex: 30 0 6rem;
    display: flex;
    flex-flow: column nowrap;
}

.itemTitle > :first-child {
    margin: 0;
    padding: 0.3rem 0.3rem 0.18rem 0.3rem;
    display: block;
}

.itemTitle > :nth-child(2) {
    padding: 0.18rem 0.3rem 0.3rem 0.3rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

.itemButtons {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0.1rem 0 0.1rem;
}

.itemButtons > * {
    flex: 1;
    display: flex;
    padding: 0.4rem;
    align-items: center;
    justify-content: center;
}

.itemButtons > *:not(:hover) {
    color: #444;
}

.itemButtons > *:hover {
    background-color: var(--superhover-color);
}


.albumLink {
    color: var(--album-color);
}

.artistLink {
    color: var(--artist-color);
}

.songLink {
    color: var(--song-color);
}

.playlistLink {
    color: var(--playlist-color);
}

.userLink {
    color: var(--user-color);
}

.songCount {
    color: var(--bg-color);
    background-color: var(--song-tag-color);
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.08rem 0.12rem;
    margin-left: 0.2rem;
    border-radius: 0.2rem;
}

.duration {
    white-space: nowrap;
    font-size: 0.9rem;
    font-family: 'Courier New', monospace;
}

.searchResultList {
    color: var(--fg-color-alt);
    border-radius: 0.3rem;
    padding: 0.4rem;
    vertical-align: middle;
    width: 20rem;
    background-color: var(--bg-color-alt);
    max-height: 14rem;
    overflow-y: auto;
}
