@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../font/Inter-Light.woff2?v=3.12') format('woff2'),
    url('../font/Inter-Light.woff?v=3.12') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../font/Inter-Medium.woff2?v=3.12') format('woff2'),
    url('../font/Inter-Medium.woff?v=3.12') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../font/Inter-ExtraBold.woff2?v=3.12') format('woff2'),
    url('../font/Inter-ExtraBold.woff?v=3.12') format('woff');
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
