    <div style="flex: 0 1 22rem;">
        <h2>Edit playlist</h2>
        <form id="playlistEditForm">
            <div>
                <label for="playlistEditPlaylistName">Name</label>
                <div>
                    <input id="playlistEditPlaylistName" type="text" value="{{.Name}}">
                </div>
            </div>
            <div>
                <label></label>
                <div>
                    <button class="light" type="submit">Save</button>
                    <button id="playlistEditCancelButton" class="light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
