<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{.Title}}</title>

    <link rel="stylesheet" href="/static/css/style.css"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="theme-color" content="#ffffff"/>
    <script src="/static/js/mifasol.js"></script>
    <script src="/static/js/wasm_exec.js"></script>
    <script>
        const go = new Go();
        let mod, inst;
        WebAssembly.instantiateStreaming(fetch("/clients/mifasolcliwa.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
</head>
<body>
<main>
    Loading...
</main>
</body>
</html>
