    <div style="flex: 0 1 22rem;">
        <h2>Edit user</h2>
        <form id="userEditForm">
            <div>
                <label for="userEditUserName">Name</label>
                <div>
                    <input id="userEditUserName" type="text" value="{{.Name}}">
                </div>
            </div>
            <div>
                <label></label>
                <div>
                    <button type="submit">Save</button>
                    <button id="userEditCancelButton">Cancel</button>
                </div>
            </div>
        </form>
    </div>
