<div>
    <h2>Upload songs</h2>
    <form id="uploadSongForm">
        <div>
            <label for="uploadSongFolder">Folder to import</label>
            <div>
                <input type="file" id="uploadSongFolder" webkitdirectory multiple/>
            </div>
        </div>

        <div>
            <label></label>
            <div>
                <div id="uploadSongReport"></div>
            </div>
        </div>
        <div>
            <label></label>
            <div>
                <button type="submit">Upload</button>
                <button type="button" id="uploadSongCancelButton">Cancel</button>
            </div>
        </div>
    </form>
</div>
